# LAN SETTINGS

    # DEVELOPMENT SETTINGS

        # This will host the site on the LAN at the specified port
        # when `npm run dev` is entered in the terminal.
        DEV_PORT = 4522
        # This port should NOT be forwarded.

    # DEVELOPMENT SETTINGS


    # PREVIEW SETTINGS

        # This will host the site on the LAN at the specified port
        # when `npm run preview` is entered in the terminal.
        PREV_PORT = 4523
        # This port should NOT be forwarded.

    # PREVIEW SETTINGS

# LAN SETTINGS