# Misc
/.vscode
/ignore

# Installed dependencies
node_modules


# Web Server temp files
build
.svelte-kit
.vite
vite.config.*.timestamp-*


# Enviromental variables but not the `env.example` file
.env
.env.*
!.env.example