# gitignore defaults
.DS_Store
/package

# Installed dependencies
node_modules

# The folder that "npm run build" outputs to
/build

# The folder that "npm run dev" outputs to
/.svelte-kit

# Enviromental variables but not the "env.example" file
.env
.env.*
!.env.example

# Vite temp files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# vscode settings
/.vscode

# Database files
*.sqlite
*.sqlite-journal

# Media files
*.png
*.mp4