# DATABASE SETTINGS

	# The database URL
	DATABASE_URL = postgresql://<username>:<password>@<host>:<port>/<databaseName>
	TEST_DATABASE_URL = postgresql://<username>:<password>@<host>:<port>/<databaseName>_testing

# DATABASE SETTINGS